
{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ config.title }} | geneExpAtlas
{% endblock %} 



{% block stylesheets %}
<link rel="stylesheet" href="{% static "css/jquery.dataTables.min.css" %}">
{% endblock %}

{% block javascript %}
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
{% endblock %}

{% block content %}

<div id='example1'>
    <table id='myTable' class="table">
        <thead>
            <th>Gene ID</th>
                <th>control</th>
                <th>treat</th>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(document).ready( function () {
      $('#myTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": '/geneExpAtlas/exp_json',
        "columns": [
          {"data": "pk"},
          {"data": "fields.treated"},
          {"data": "fields.control"},
        ]
      });
    });
  
  </script>

<hr>

<h2>Sample description</h2>

<h3>Experiment1</h3>
<p>Eight organs, including roots (Ro), stems (St), shoot apexes (SA), mature leaves (ML), male flowers (MF), female flowers
    (FF), fruits (Fr), and seeds (Se), were harvested in August from the 1-year-old plants of Sacha Inchi grown at the
    Xishuangbanna Tropical Botanical Garden, Chinese Academy of Sciences, Mengla, Yunnan, China under natural climate
    conditions. The samples were collected at 60 days after pollination (DAP) when fruits and seeds have reached full
    size. Three independent biological replicates of each sample were collected from three individual plants. All samples
    were frozen immediately in liquid nitrogen and then stored at -80 °C for RNA extraction.</p>


<h3>Experiment2</h3>
<p>Working solution of 20 mg/L of BA ((6-benzyladenine) was sprayed onto entire trees with a hand sprayer, wetting the tree
    to the point of run-off (approximately 300 ml BA working solution per tree). Control trees were sprayed with 300
    ml distilled water containing 0.05% (v/v) Tween-20 and 1.28 mM NaOH (i.e., NaOH concentration equivalent to that
    in the160 mg/L BA working solution). Spraying was conducted once at dusk. When the first poly-female inflorescence
    (>2 female flowers) was observed, the fourth to sixth inflorescences of the branch were selected as FIB (female inflorescence
    buds). The selected inflorescences were less than 0.5 cm in length. MIB (male inflorescence buds) were selected from
    control inflorescences during a similar developmental stage. Each sample consisted of more than 20 male or female
    inflorescence buds, respectively. The collected samples were immediately frozen in liquid nitrogen and stored at
    -80°C for RNA extraction.</p>

<h3>Experiment3</h3>
<p>Based on the changes of oil accumulation in developing seeds, we determined two stages for transcriptome sampling, i.e.
    the initial stage of seed development (S1, 5-10 days DAP) and in the fast oil accumulation stage (S2, 50-65 DAP).
    The developing seeds did not start to accumulate TAG in S1 stage and fast accumulated TAG in S2 stage. For the transcriptome
    sampling, the seeds at two developing stages were collected from the same individual at the same time (at ca 10:00
    a.m.) of a day (on September 12, 2011). The collected samples were flash frozen in liquid nitrogen and stored at
    -80°C until further use.</p>


{% endblock %}