{% extends 'base.html' %} 
{% load static %} 
{% block title %} {{ config.title }} | Home {% endblock %} 
{% block content %}
<div id="main">
    <h3>Welcone to PVDB</h3>
    <div class="row">
        <div class="col-md-8">
            
            <p>The Plukenetia volubilis genome database (PVDB) is a comprehensive genome informatics resource. By using Pacbio long reads 716.52 Mb genome (scaffold N50=1.34 Mb and contig N50=194.13 Kb) of Plukenetia volubilis was botained. Huge information was produced by the down stream analysis.</p>
            <p>PVDB provides tools for data mining (<a href="/browse/">Browse</a>), sequence searching (<a href="/blast/">BLAST</a>), genome browsing (<a href="/gbrowse/">GBrowse</a>), data <a href="{{ config.ftpserver }}">FTP</a> and <a href="/help/">Help</a>. In the gene detail page user will find GO, KEGG, expression plot; the sequence of gene, mRNA, cds and protein.</p>
            <p>The goal of PVDB is to provide a valuable resource for research on questions regarding molecular mechanisms of this important tree, such as diseases, and allow determination of the genetic bases of key phenotypic traits. Moreover, it will enhance breeding programs and the formation of new varieties.</p>
            <div>
                <hr/>
                <p>Evolutionary relationship between 8 species</p>
                <p><img width="80%" src="{% static "home/img/evolution_tree_bootstrap100.png" %}" class="img-responsive" alt="bootstap100"></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{% static 'home/img/seeds_oil.png' %}" alt="" class="img-responsive img-rounded">
            <p class="text-center"><em>Plukenetia volubilis</em> seed oil</p>
            <hr>
            <!--Latest News-->
            <div>
                <h3>Assembly statistics</h3>
                <ul>
                    <li>
                        Scaffold length (bp): 716,520,837
                    </li>
                    <li>
                        Scaffold number: 13,816
                    </li>
                    <li>
                        Scaffold N50 (bp): 1,339,213
                    </li>
                    <li>
                        Scaffold max (bp): 8,841,349
                    </li>
                    <li>
                        G+C content (%): 29.98%
                    </li>
                    <li>
                        Potein-coding genes: 34,949; miRNA: 471; rRNA: 5,566; tRNA: 622; pseudogene: 2,740
                    </li>
                    <li>
                        28 expression profiles
                    </li>
                </ul>
                
            </div>

            <hr />
            <!-- Vistors -->

            <div>
                <h3>Vistors</h3>
                <script type="text/javascript" src="//ra.revolvermaps.com/0/0/7.js?i=0oii3jmg25d&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;sx=0"
                async="async"></script>
                
            </div>
        </div>
    </div>

</div>



{% endblock %}