{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ config.title }} | Gbrowse
{% endblock %} 



{% block content %}
<script language="javascript" src="{% static "js/dalliance-compiled.js" %}"></script>
<script language="javascript">
    var serverUrl = 'http://pvdb.xtbg.ac.cn/gbrowsedata/'; // website root directory
    new Browser({
        chr: 'Contig69',
        viewStart: 4920963,
        viewEnd: 4924568,

        coordSystem: {
            speciesName: 'Plukenetia volubilis',
            taxon: 316893,
            auth: 'pv',
            version: '1.0',
            ucscName: ''
        },

        sources: [{
            name: 'Genome',
            twoBitURI: serverUrl + 'jelly.out.fasta.chompspaceline.genomic.2bit',
            tier_type: 'sequence'
        },
        {
            name: 'Genes',
            desc: 'Gene structures from GENCODE 19',
            bwgURI: serverUrl + 'Plukenetiavolubili.final.bb',
            
            collapseSuperGroups: true,
        },
        
        ],
        setDocumentTitle: false,
        disablePoweredBy: true,
        noTitle: false,

    });
</script>


<div id="feature">
    <h2 style="margin-top: 10px">Genomic feature visualization</h2>
    <div class="hero-unit">
        <div id="svgHolder"></div>
    </div>
</div>

{% endblock %}