<ul class="list-unstyled components mb-5">
  <li class="active">
    <a href="/"><span class="fa fa-home mr-3"></span> Home</a>
  </li>
  <li>
    <a href="/geneExpAtlas/"><span class="fa fa-user mr-3"></span> geneExpAtlas</a>
  </li>
  <li>
    <a href="/blastplus/blastn/"><span class="fa fa-briefcase mr-3"></span> Blast</a>
  </li>
  <li>
    <a href="/geneAnno/"><span class="fa fa-sticky-note mr-3"></span> geneAnno</a>
  </li>
  <li>
    <a href="/igv/"><span class="fa fa-suitcase mr-3"></span> GBrowse</a>
  </li>
  <li>
    <a href="/about/"><span class="fa fa-cogs mr-3"></span> About</a>
  </li>
  <li>
    <a href="/tools/"><span class="fa fa-paper-plane mr-3"></span> Tools</a>
  </li>
</ul>